@import "../../scss/variables";

.login-container {
    .login-with-microsoft {
        width: 70%;
        margin: 7% auto;
        background-color: $whiteColor;
    }
    .login-img-container{
        width: 19.9rem;
        margin: 0px;
      img{
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    .login-data-section {
        padding: 2.5rem;
    }
    .microsoft-login {
        border: 2px solid #EB683D;
        border-radius: 10px;
    }
}