@font-face {
    font-family: 'SH-Bree-Headline';
    src: url('../assets/fonts/SH-Bree-Headline-Regular.woff');
}

@font-face {
    font-family: 'Siemens-Sans';
    src: url('../assets/fonts/SiemensSans-Roman.woff');
}

@font-face {
    font-family: 'Siemens-Sans-black';
    src: url('../assets/fonts/SiemensSans-Black.woff');
}

@font-face {
    font-family: 'Siemens-Sans-bold';
    src: url('../assets/fonts/SiemensSans-Bold.woff');
}