@import "./variables";
@import "./fonts";

html,
body {
  outline: 0 !important;
  background-color: $mainBackGroundColor;
  font-size: 15px;
}
.SH-Bree-Headline {
  font-family: "SH-Bree-Headline";
}

.headingsColor {
  color: $headingColor;
}

.headingLeadsColor {
  color: $headingLeadsColor;
}
.greyColor {
  color: $greyColor;
}

.Siemens-Sans {
  font-family: "Siemens-Sans";
}

.Siemens-Sans-black {
  font-family: 'Siemens-Sans-black';
}

.Siemens-Sans-bold {
  font-family: 'Siemens-Sans-bold';
}

.font-size-13 {
  font-size: 13px;
}
.font-size-14 {
  font-size: 14px;
}
.font-size-12 {
  font-size: 12px;
}
.font-size-19 {
  font-size: 19px;
}
.font-size-23 {
  font-size: 23px;
}
.font-size-18 {
  font-size: 18px;
}
.font-size-16 {
  font-size: 16px;
}
.font-size-17 {
  font-size: 17px;
}
.font-weight-900 {
  font-weight: 900;
}
.date-notification-font {
   color : $notificationDate;
}
.date-message-font {
  color : $notificationMsg;
}

.breadCrumpIcon{
  &:after{
    content: ">";
    font-family: "feather";
    color: #1a1a1a;
    margin-left: 10px;
    margin-right: 10px;
  }
}

#root {
  position: relative;
}

.rtl {
  text-align: right;
  min-height: 98vh;
  display: flex;
  flex-direction: column;
}
.ltr {
  min-height: 98vh;
  display: flex;
  flex-direction: column;
}

.row {
  margin: 0 auto;
}
.cursor-pointer {
  cursor: pointer;
}
.word-break {
  word-break: break-all;
}
.btn-none{
  background-color: $primaryColor;
  border: none;
  padding: 0.69rem 1.2rem;
  font-family: 'Siemens-Sans-black';
  font-size: 15px;
  color: #fff;
  font-weight: 900;
  &:hover {
   color: #fff;
  }
}