@import "./variables";
@import "./fonts";

html,
body {
  outline: 0 !important;
  background-color: $mainBackGroundColor;
  font-size: 15px;
}
.SH-Bree-Headline {
  font-family: "SH-Bree-Headline";
}

.headingsColor {
  color: $headingColor;
}
.greyColor {
  color: $greyColor;
}

.Siemens-Sans {
  font-family: "Siemens-Sans";
}

.font-size-13 {
  font-size: 13px;
}
.font-size-12 {
  font-size: 12px;
}

.font-weight-900 {
  font-weight: 900;
}

#root {
  position: relative;
}

.rtl {
  text-align: right;
  min-height: 98vh;
  display: flex;
  flex-direction: column;
}
.ltr {
  min-height: 98vh;
  display: flex;
  flex-direction: column;
}

.row {
  margin: 0 auto;
}
.cursor-pointer {
  cursor: pointer;
}
.word-break {
  word-break: break-all;
}
