// background colors
$mainBackGroundColor : #f2f2f2;

//
$primaryColor : #ec6602;
$secondaryColor : #009999;
$whiteColor : #FFFFFF;
$headingColor : #1a1a1a;
$headingLeadsColor : #4d4d4d;
$leadIdColor: #808080;
$greyColor : #666666;
$lineColor : #e0e0e0;
$notificationColor: #4d4d4d;
